<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td> <b> Total: </b></td>
            {% for player, score in totals.items() %}
            <td>{{ score }} </td>
            {% endfor %}
        </tr>
    </tbody>
</table>