<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td> <b> Total: </b></td>
            {% for player, score in totals.items() %}
            <td>{{ score }} </td>
            {% endfor %}
        </tr>
        <tr>
            <td> <b> Player Points: </b></td>
            {% for player, score in points.items() %}
            <td>{{ score }} </td>
            {% endfor %}
        </tr>
        <tr>
            <td> <b> Net Winnings: </b></td>
            {% for player, cash in winnings.items() %}
            <td>{{ cash }} </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<br>
<i> Player points are allocated weekly as:
    <ul>
        <li> 2 for a win (1.5 if its drawn) </li>
        <li> 1 for second place (0.5 if its drawn) </li>
        <li> 0 otherwise </li>
    </ul>
</i>