{% extends 'base.html' %}

{% block content %}

<div class="container">
    <table>
        <thead>
            <tr>
                {% for col in colnames %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records[:-1] %}
            <tr>
                {% for col in colnames %}
                <td>{{ record[col] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr> 
                <td> <b> Live GameWeek {{gameweek}} Score: </b></td>
                {% for name in scorenames %}
                    <td> {{live_scores[name]}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td> <b> Total: </b></td>
                {% for player, score in totals.items() %}
                <td>{{ score + live_scores[player] }} </td>
                {% endfor %}
            </tr>
            <tr>
                <td> <b> Player Points: </b></td>
                {% for name in scorenames %}          
                    <td>{{ points[name] }} </td>
                {% endfor %}
            </tr>
            {% if groupname == 'boys' %}
            <tr>
                <td> <b> Net Winnings: </b></td>
                {% for name in scorenames %}  
                    <td>{{ winnings[name] }} </td>
                {% endfor %}
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<br>
<div class="text">
<i> Player points are allocated weekly as:
    <ul>
        <li> 2 for a win (1.5 if its drawn) </li>
        <li> 1 for second place (0.5 if its drawn) </li>
        <li> 0 otherwise </li>
    </ul>
</i>
</div>
    <form>
        <div>
            <a href='/', class='button', id='full-scores-go-back'>Go Back</a>
        </div>
    </form>

{% endblock %}
