{% extends 'base.html' %}

{% block content %}
    
        <h1 class="Greeting"> Hi there, Friends! </h1>

        <form action="/scores" method="POST">

            <div class="form-group">
              <label>Enter Group Name</label>
              <input type="text" class="form-text" id="groupname" name="groupname" placeholder="Go Team!">
            </div>
              <button type="submit"  class='button' id='button'>View Scores</button>           
        </form>
        
    
{% endblock %}
