{% extends 'base.html' %}

{% block content %}

        <div class="group-form">
            <h2>Enter Group Name</h2>
            <form action='/scores' method="POST">
              <div class="user-box">
                <input type="text" name="" required="">
                <label>Group Name</label>
              </div>
              <div id="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button id='submit'>View Scores</button>
              </div>
            </form>
          </div>
        
    
{% endblock %}
